.App {
  background-color: #453D4C;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

section {
  color: antiquewhite;
  background: rgb(192, 181, 201);
  background: radial-gradient(circle, rgba(192, 181, 201, 1) 0%, rgba(102, 96, 107, 1) 35%, rgba(37, 27, 45, 1) 100%);
  height: auto;
}

.navBg {
  background-color: rgb(127, 127, 170);
}

img {
  width: auto;
  height: auto;
}